<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="./static/webuploader/webuploader.css">
    <link rel="stylesheet" type="text/css" href="./static/bootstrap/css/bootstrap.min.css">
    <script src="./static/jquery-1.11.1.min.js"></script>
    <script src="./static/bootstrap/js/bootstrap.min.js"></script>
    <script src="./static/webuploader/webuploader.min.js"></script>
</head>

<body>
<div style="margin:50px 0 0 50px;">
    <div id="picker" style="float:left;">请选择</div>
    <div id="progress" class="progress" style="width:500px;float:left;margin:10px 0 0 20px;">
        <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:0%;"></div>
    </div>
    <div style="clear:both;"></div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var task_id = WebUploader.Base.guid(); // 产生文件唯一标识符task_id
        var uploader = WebUploader.create({
            swf: './static/webuploader/Uploader.swf',
            {#server: '{{ url_for("upload_part") }}', // 上传分片地址#}
            server: 'http://192.168.90.129:8000/file/upload',   // Ubuntu服务器B地址
            pick: '#picker',
            auto: true,
            chunked: true,
            chunkSize: 20 * 1024 * 1024,
            chunkRetry: 3,
            threads: 3,
            duplicate: true,
            formData: { // 上传分片的http请求中一同携带的数据
                task_id: task_id,
            },
        });

        uploader.on('startUpload', function () { // 开始上传时，调用该方法，显示上传进度
            $('#progress').show();
            $('.progress-bar').css('width', '0%');
            $('.progress-bar').text('0%');
            $('.progress-bar').removeClass('progress-bar-danger progress-bar-success');
            $('.progress-bar').addClass('active progress-bar-striped');
        });

        uploader.on('uploadProgress', function (file, percentage) { // 一个分片上传成功后，调用该方法，更新上传进度
            $('.progress-bar').css('width', percentage * 100 - 1 + '%');
            $('.progress-bar').text(Math.floor(percentage * 100 - 1) + '%');
        });

        uploader.on('uploadSuccess', function (file) { // 整个文件的所有分片都上传成功后，调用该方法，处理后续操作
            var data = {'task_id': task_id, 'filename': file.source['name']};
            {#$.get('{{ url_for("upload_success") }}', data);    // 通知服务器上传结束，清合并分片#}
            $.get('http://192.168.90.129:8000/file/merge', data);
            $('.progress-bar').css('width', '100%');
            $('.progress-bar').text('100%');
            $('.progress-bar').addClass('progress-bar-success');
            $('.progress-bar').text('上传完成');
        });

        uploader.on('uploadError', function (file) { // 上传过程中发生异常，调用该方法，显示异常信息
            $('.progress-bar').css('width', '100%');
            $('.progress-bar').text('100%');
            $('.progress-bar').addClass('progress-bar-danger');
            $('.progress-bar').text('上传失败');
        });

        uploader.on('uploadComplete', function (file) { // 上传结束，无论文件最终是否上传成功，该方法都会被调用，停止上传进度
            $('.progress-bar').removeClass('active progress-bar-striped');
        });

        $('#progress').hide();  // 隐藏上传进度
    });
</script>
</body>
</html>


{#{% extends 'base.html' %}#}
{##}
{#{% block body %}#}
{#    <div class="">#}
{#        <form class="form-inline mb-2" id="info-form">#}
{#            <div class="form-group">#}
{#                <label for="server" class="sr-only">SERVER</label>#}
{#                <input type="text" class="form-control" id="server"#}
{#                       name="server"#}
{#                       placeholder="http://127.0.0.1:8000">#}
{#            </div>#}
{#            <div class="form-group">#}
{#                <label for="options">FILE</label>#}
{#                <select id="options" class="form-control"#}
{#                        name="filename">#}
{#                    <option selected disabled>Choose...</option>#}
{#                    {% for fileName in filesName %}#}
{#                        <option value="{{ fileName }}">{{ fileName }}</option>#}
{#                    {% endfor %}#}
{#                </select>#}
{#            </div>#}
{#            <div>#}
{#                <button type="submit" class="btn btn-primary mb-2" id="upload">上传</button>#}
{#            </div>#}
{#        </form>#}
{#    </div>#}
{##}
{##}
{#    <script>#}
{#    // 上传按钮提交表单#}
{#    $('#upload').click(function () {#}
{#        var server = $('#server').val();#}
{#        var filename = $('#options').val();#}
{#        if ( server && filename ) {#}
{#            $('#info-form').attr('action', server + '/upload');#}
{#            $('#info-form').attr('method', 'post');#}
{#            $('#info-form').submit();#}
{#        }#}
{#    });#}
{##}
{##}
{#    </script>#}
{#{% endblock %}#}